<style>
  .header {
    flex: auto;
    display: flex;
    margin: 4px;
    gap: 4;
  }
  .content {
    background-color: beige;
  }
</style>

<main class="header">
  <div class="content">
    <button class="menu">Menu</button>
    <span> My App</span>
    <button>Favorites</button>
  </div>
</main>

<mat-drawer-container class="container">
  <mat-drawer mode="side" class="sidebar">
    sidebar
  </mat-drawer>
  <mat-drawercontent class="main-content">
    <h1>Credit Card Admin Portal</h1>
    <router-outlet />
  </mat-drawercontent>
</mat-drawer-container>
